<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.windnacelle.mapper.WindFanMapper">

    <resultMap type="WindFan" id="WindFanResult">
        <result property="fanId"    column="fan_id"    />
        <result property="fanName"    column="fan_name"    />
        <result property="siteId"    column="site_id"    />
        <result property="lineId"    column="line_id"    />
        <result property="siteName"    column="site_name"    />
        <result property="lineName"    column="line_name"    />
        <result property="capacity"    column="capacity"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="fanModel"    column="fan_model"    />
        <result property="fanBrand"    column="fan_brand"    />
    </resultMap>

    <sql id="selectWindFanVo">
        select fan_id, fan_name, site_id, line_id, site_name, line_name, capacity, latitude, longitude, fan_model, fan_brand from wind_fan
    </sql>

    <select id="selectWindFanList" parameterType="WindFan" resultMap="WindFanResult">
        <include refid="selectWindFanVo"/>
        <where>
            <if test="fanName != null  and fanName != ''"> and fan_name like concat('%', #{fanName}, '%')</if>
            <if test="lineId != null "> and line_id = #{lineId}</if>
            <if test="siteId != null "> and site_id = #{siteId}</if>
            <if test="lineName != null "> and line_name = #{lineName}</if>
            <if test="siteName != null "> and site_name = #{siteName}</if>
        </where>
    </select>

    <select id="selectWindFanByFanId" parameterType="Integer" resultMap="WindFanResult">
        <include refid="selectWindFanVo"/>
        where fan_id = #{fanId}
    </select>

    <insert id="insertWindFan" parameterType="WindFan" useGeneratedKeys="true" keyProperty="fanId">
        insert into wind_fan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fanName != null and fanName != ''">fan_name,</if>
            <if test="siteId != null">site_id,</if>
            <if test="lineId != null">line_id,</if>
            <if test="siteName != null">site_name,</if>
            <if test="lineName != null">line_name,</if>
            <if test="capacity != null">capacity,</if>
            <if test="latitude != null">latitude,</if>
            <if test="longitude != null">longitude,</if>
            <if test="fanModel != null">fan_model,</if>
            <if test="fanBrand != null">fan_brand,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fanName != null and fanName != ''">#{fanName},</if>
            <if test="siteId != null">#{siteId},</if>
            <if test="lineId != null">#{lineId},</if>
            <if test="siteName != null">#{siteName},</if>
            <if test="lineName != null">#{lineName},</if>
            <if test="capacity != null">#{capacity},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="fanModel != null">#{fanModel},</if>
            <if test="fanBrand != null">#{fanBrand},</if>
         </trim>
    </insert>

    <update id="updateWindFan" parameterType="WindFan">
        update wind_fan
        <trim prefix="SET" suffixOverrides=",">
            <if test="fanName != null and fanName != ''">fan_name = #{fanName},</if>
            <if test="siteId != null">site_id = #{siteId},</if>
            <if test="lineId != null">line_id = #{lineId},</if>
            <if test="siteName != null">site_name = #{siteName},</if>
            <if test="lineName != null">line_name = #{lineName},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="fanModel != null">fan_model = #{fanModel},</if>
            <if test="fanBrand != null">fan_brand = #{fanBrand},</if>
        </trim>
        where fan_id = #{fanId}
    </update>

    <delete id="deleteWindFanByFanId" parameterType="Integer">
        delete from wind_fan where fan_id = #{fanId}
    </delete>

    <delete id="deleteWindFanByFanIds" parameterType="String">
        delete from wind_fan where fan_id in
        <foreach item="fanId" collection="array" open="(" separator="," close=")">
            #{fanId}
        </foreach>
    </delete>
</mapper>
