<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.windnacelle.mapper.WindAlertObjectsMapper">
    <resultMap type="WindAlertObjects" id="WindAlertObjectsResult">
        <result property="id" column="id"/>
        <result property="alertId" column="alert_id"/>
        <result property="label" column="label"/>
        <result property="confidence" column="confidence"/>
        <!--        <result property="color"    column="color"    />-->
        <!--        <result property="position"    column="position"    />-->
        <result property="colorDba" column="colorDba"/>
        <result property="positionDba" column="positionDba"/>
    </resultMap>

    <sql id="selectWindAlertObjectsVo">
        select id, alert_id, label, confidence, colorDba, positionDba
        from wind_alert_objects
    </sql>

    <select id="selectWindAlertObjectsList" parameterType="WindAlertObjects" resultMap="WindAlertObjectsResult">
        <include refid="selectWindAlertObjectsVo"/>
        <where>
            <if test="alertId != null ">
                and alert_id = #{alertId}
            </if>
            <if test="label != null  and label != ''">
                and label = #{label}
            </if>
            <if test="confidence != null ">
                and confidence = #{confidence}
            </if>
            <if test="colorDba != null  and colorDba != ''">
                and colorDba = #{colorDba}
            </if>
            <if test="positionDba != null  and positionDba != ''">
                and positionDba = #{positionDba}
            </if>
        </where>
    </select>

    <select id="selectWindAlertObjectsById" parameterType="Long" resultMap="WindAlertObjectsResult">
        <include refid="selectWindAlertObjectsVo"/>
        where id = #{id}
    </select>

    <select id="getWindAlertObjectsById" parameterType="int" resultMap="WindAlertObjectsResult">
        <include refid="selectWindAlertObjectsVo"/>
        where alert_id = #{alertId}
    </select>

    <insert id="insertWindAlertObjects" parameterType="WindAlertObjects" useGeneratedKeys="true" keyProperty="id">
        insert into wind_alert_objects
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alertId != null">
                alert_id,
            </if>
            <if test="label != null and label != ''">
                label,
            </if>
            <if test="confidence != null">
                confidence,
            </if>
            <if test="colorDba != null and colorDba != ''">
                colorDba,
            </if>
            <if test="positionDba != null and positionDba != ''">
                positionDba,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alertId != null">
                #{alertId},
            </if>
            <if test="label != null and label != ''">
                #{label},
            </if>
            <if test="confidence != null">
                #{confidence},
            </if>
            <if test="colorDba != null and colorDba != ''">
                #{colorDba},
            </if>
            <if test="positionDba != null and positionDba != ''">
                #{positionDba},
            </if>
        </trim>
    </insert>

    <update id="updateWindAlertObjects" parameterType="WindAlertObjects">
        update wind_alert_objects
        <trim prefix="SET" suffixOverrides=",">
            <if test="alertId != null">
                alert_id = #{alertId},
            </if>
            <if test="label != null and label != ''">
                label = #{label},
            </if>
            <if test="confidence != null">
                confidence = #{confidence},
            </if>
            <if test="colorDba != null and colorDba != ''">
                colorDba = #{colorDba},
            </if>
            <if test="positionDba != null and positionDba != ''">
                positionDba = #{positionDba},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWindAlertObjectsById" parameterType="Long">
        delete
        from wind_alert_objects
        where id = #{id}
    </delete>

    <delete id="deleteWindAlertObjectsByIds" parameterType="String">
        delete from wind_alert_objects where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
