<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.fanmonitor.mapper.WindAlarmMapper">

    <resultMap type="WindAlarm" id="WindAlarmResult">
        <result property="id"    column="id"    />
        <result property="alertTime"    column="alert_time"    />
        <result property="deviceId"    column="device_id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="camera"    column="camera"    />
        <result property="camIpv4"    column="cam_ipv4"    />
        <result property="algName"    column="alg_name"    />
        <result property="imgs"    column="imgs"    />
        <result property="objs"    column="objs"    />
    </resultMap>

    <sql id="selectWindAlarmVo">
        select id, alert_time, device_id, device_name, camera, cam_ipv4, alg_name, imgs, objs from wind_alarm
    </sql>

    <select id="selectWindAlarmList" parameterType="WindAlarm" resultMap="WindAlarmResult">
        <include refid="selectWindAlarmVo"/>
        <where>
            <if test="alertTime != null  and alertTime != ''"> and alert_time = #{alertTime}</if>
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="camera != null  and camera != ''"> and camera = #{camera}</if>
            <if test="algName != null  and algName != ''"> and alg_name like concat('%', #{algName}, '%')</if>
        </where>
    </select>

    <select id="selectWindAlarmById" parameterType="Integer" resultMap="WindAlarmResult">
        <include refid="selectWindAlarmVo"/>
        where id = #{id}
    </select>

    <insert id="insertWindAlarm" parameterType="WindAlarm" useGeneratedKeys="true" keyProperty="id">
        insert into wind_alarm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alertTime != null and alertTime != ''">alert_time,</if>
            <if test="deviceId != null and deviceId != ''">device_id,</if>
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="camera != null and camera != ''">camera,</if>
            <if test="camIpv4 != null and camIpv4 != ''">cam_ipv4,</if>
            <if test="algName != null and algName != ''">alg_name,</if>
            <if test="imgs != null">imgs,</if>
            <if test="objs != null and objs != ''">objs,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alertTime != null and alertTime != ''">#{alertTime},</if>
            <if test="deviceId != null and deviceId != ''">#{deviceId},</if>
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="camera != null and camera != ''">#{camera},</if>
            <if test="camIpv4 != null and camIpv4 != ''">#{camIpv4},</if>
            <if test="algName != null and algName != ''">#{algName},</if>
            <if test="imgs != null">#{imgs},</if>
            <if test="objs != null and objs != ''">#{objs},</if>
         </trim>
    </insert>

    <update id="updateWindAlarm" parameterType="WindAlarm">
        update wind_alarm
        <trim prefix="SET" suffixOverrides=",">
            <if test="alertTime != null and alertTime != ''">alert_time = #{alertTime},</if>
            <if test="deviceId != null and deviceId != ''">device_id = #{deviceId},</if>
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="camera != null and camera != ''">camera = #{camera},</if>
            <if test="camIpv4 != null and camIpv4 != ''">cam_ipv4 = #{camIpv4},</if>
            <if test="algName != null and algName != ''">alg_name = #{algName},</if>
            <if test="imgs != null">imgs = #{imgs},</if>
            <if test="objs != null and objs != ''">objs = #{objs},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWindAlarmById" parameterType="Integer">
        delete from wind_alarm where id = #{id}
    </delete>

    <delete id="deleteWindAlarmByIds" parameterType="String">
        delete from wind_alarm where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
