<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.fanmonitor.mapper.WindImagesMapper">
    
    <resultMap type="WindImages" id="WindImagesResult">
        <result property="id"    column="id"    />
        <result property="imagePath"    column="image_path"    />
        <result property="imageName"    column="image_name"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
    </resultMap>

    <sql id="selectWindImagesVo">
        select id, image_path, image_name, created_at, updated_at from wind_images
    </sql>

    <select id="selectWindImagesList" parameterType="WindImages" resultMap="WindImagesResult">
        <include refid="selectWindImagesVo"/>
        <where>  
            <if test="imageName != null  and imageName != ''"> and image_name like concat('%', #{imageName}, '%')</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
            <if test="updatedAt != null "> and updated_at = #{updatedAt}</if>
        </where>
    </select>
    
    <select id="selectWindImagesById" parameterType="Long" resultMap="WindImagesResult">
        <include refid="selectWindImagesVo"/>
        where id = #{id}
    </select>

    <insert id="insertWindImages" parameterType="WindImages" useGeneratedKeys="true" keyProperty="id">
        insert into wind_images
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imagePath != null and imagePath != ''">image_path,</if>
            <if test="imageName != null and imageName != ''">image_name,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imagePath != null and imagePath != ''">#{imagePath},</if>
            <if test="imageName != null and imageName != ''">#{imageName},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
         </trim>
    </insert>

    <update id="updateWindImages" parameterType="WindImages">
        update wind_images
        <trim prefix="SET" suffixOverrides=",">
            <if test="imagePath != null and imagePath != ''">image_path = #{imagePath},</if>
            <if test="imageName != null and imageName != ''">image_name = #{imageName},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWindImagesById" parameterType="Long">
        delete from wind_images where id = #{id}
    </delete>

    <delete id="deleteWindImagesByIds" parameterType="String">
        delete from wind_images where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getWindImagesByIds" parameterType="String" resultType="com.yh.fanmonitor.domain.WindImages">
        select id, image_path, image_name, created_at, updated_at from wind_images where id in
            <foreach item="id" collection="array" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>

    
</mapper>